<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>БЛОГИ</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- тут вставляем CSS c https://www.bootstrapcdn.com для наведения красоты на странице-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>



<div class="container mt-5 ">
    <h1>Блог</h1>
<!--    для вывода данных из таблицы в виде массива прописываем тут цикл-->
    <div th:each="el : ${posts}" class="alert alert-info mt-2">
<!--        тут мы можем обращатся к любому полю класса Post-->
         <h3 th:text="${el.title}"/>
         <p th:text="${el.anons}"/>
<!--        тут будет сылка на детальное прочтение статьи, что-то типа blog/1 - blog/2 .... -->
        <a th:href=" '/blog/' + ${el.id}" class="btn btn-warning">Детальнее</a>
    </div>
</div>
<!--<br>-->



    <footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>