<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>БЛОГ САЙТА</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- тут вставляем CSS c https://www.bootstrapcdn.com для наведения красоты на странице-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>




<div class="container mt-5 ">
    <!--    для в ывода данных из таблицы в виде массива прописываем тут цикл-->
    <div th:each="el : ${post}" class="alert alert-info mt-2">
        <!--        тут мы можем обращатся к любому полю класса Post-->
        <h3 th:text="${el.title}"/><br>
        <p th:text="${el.full_text}"/><br>
        <p th:text="${el.views}"/><br>
        <p><b>Просмотры:</b><span th:text="${el.views}"/></p>

        <a th:href=" '/blog/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a>
        <a th:href=" '/blog/' + ${el.id} + '/remove'" class="btn btn-warning">Удалить</a>
    </div>
</div>
<!--<br>-->





<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>