<footer th:fragment="footer">
    <footer class="text-muted">
        <div class="container">
            <p class="float-right"><br>
                <a href="#">Вверх</a>
            </p><br><br>
            <p>Power by <a href="https://github.com/SamuilOlegovich/">SamuilOlegovich</a></p><br>
<!--            <p>New to Bootstrap? <a href="https://getbootstrap.com/">Visit the homepage</a> or read our <a href="/docs/4.5/getting-started/introduction/">getting started guide</a>.</p>-->
        </div>
    </footer>
</footer>